.image{
    border: 10px;
    width: 450px;
    height: 450px;
    padding: 0 15px;
}
button{
    border: 10px;
    border-radius: 8px;
    width: 80px;
    height: 30px;
}
.hero__wrapper{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}