.main__box{
    padding: 100px;
    gap: 40px;
    display: flex;
    border-radius: 20px;
    background-color: aqua;

    h1{
        color: rgb(225, 1, 255);
        border: 5px solid black;
    }
}


